<section class="integrate">
	<div class="container">
		<div class="integrate-box">
			<div class="top-text">
				<h2>Integrate Top Work Tools</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
			</div>

			<div class="top-tools">

				<div class="tool">
					<p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
					<img src="/images/home/integrate/super-g.svg" alt="another application to integrate with"/>
				</div>
				<div class="tool">
					<p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
					<img src="/images/home/integrate/zoom.svg" alt="another application to integrate with" />
				</div>
				<div class="tool">
					<p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
					<img src="/images/home/integrate/3svg.svg" alt="another application to integrate with" />
				</div>
				<div class="tool">
					<p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent..</p>
					<img src="/images/home/integrate/color4.svg" alt="another application to integrate with" />
				</div>
				<div class="tool">
					<p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
					<img src="/images/home/integrate/color5.svg" alt="another application to integrate with" />
				</div>
				<div class="tool">
					<p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
					<img src="/images/home/integrate/color6.svg" alt="another application to integrate with" />
				</div>
				<div class="tool">
					<p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
					<img src="/images/home/integrate/color7.svg" alt="another application to integrate with" />
				</div>
				<div class="tool">
					<p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea</p>
					<img src="/images/home/integrate/color8.svg" />
				</div>
			</div>
		</div>

	</div>
</section>