@using Microsoft.AspNetCore.Identity
@using BlazorWebApp.Data

@rendermode InteractiveServer

@inject SignInManager<ApplicationUser> SignInManager


<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link btn-theme-s" href="Account/Manage" Match="NavLinkMatch.All"><i class="fa-thin fa-gear"></i>Account Details</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link btn-gray" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link btn-gray" href="Account/Manage/ChangePassword">Security</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link btn-gray" href="Account/Manage/#">Notifications</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link btn-gray" href="Account/Manage/#">Messages</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link btn-gray" href="Account/Manage/#">Saved Items</NavLink>
    </li>
    <li class="nav-item">
        <button class="nav-link btn-gray" @onclick="SignOut"> <i class="fa-sharp fa-light fa-left-from-bracket"></i>Sign out</button>
    </li>
  
</ul>

@code {
    

    public async Task SignOut()
    {
        await SignInManager.SignOutAsync();
        RedirectManager.RedirectTo("/");

    }
 
}
